<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<%= @post.categories.each do |cat| %>
  <%= cat.name %>
<% end %>

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>

<h3>Users Talking About This</h3>
<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>

<h3>Comment on This Post</h3>
  <%= form_for (comment = Comment.new) do |f| %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user_attributes, comment.user_id do |user| %>
  <%= user.text_field :username %>
  <% end %>

  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit %>
  <% end %>
