<h1><%= @post.title %></h1>
<h4>Category: <%= @post.category %><h4>
<p><%= @post.content %></p>

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <%= comment.user.username %>
  <%= comment.content %>
<% end %>

<h3>Users Talking About This</h3>
<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>
